<div class="card ">
  <div class="card-img-wrapper">
  <img class="card-img-top" src="assets/images/car-default.jpg"  >
    <ul class="list-inline text-center member-icons">
      <li class=" list-inline-item">
        <button class="btn btn-outline-light">E</button>
      </li>
      <li class=" list-inline-item">
        <button class="btn btn-outline-light">C</button>
      </li>
    </ul>
  </div>

  <div class="card-body p-2">
   <h1>{{property.Name}}</h1>
   <h2>{{property.Price}}</h2>
   <h3>{{property.Type}}</h3>
  </div>
</div>


